# Arquivos de ambiente
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
ENV/
env/
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Testes
.tox/
.coverage
.coverage.*
htmlcov/
.pytest_cache/
.mypy_cache/

# Logs
*.log
logs/

# Spark
metastore_db/
derby.log
spark-warehouse/

# Alembic
*.pyc

# OS
.DS_Store
Thumbs.db

# Ruff
.ruff-cache/