# Ambiente
ENVIRONMENT=development

# API FakeStore
API_BASE_URL=https://fakestoreapi.com
API_TIMEOUT=30
API_MAX_RETRIES=3

# Banco de Dados
DB_HOST=postgres
DB_PORT=5432
DB_USER=fke_user
DB_PASSWORD=fke_password
DB_NAME=fke_database

# Pipeline Config
PIPELINE_BATCH_SIZE=5
PIPELINE_MIN_PRICE=100.0
PIPELINE_MIN_RATING=3.5
